<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask DigitalOcean Spaces Upload</title>
</head>
<body>
    <h1>DigitalOcean Spaces'e Resim Yükleme</h1>
    
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <input type="file" name="file" accept=".jpg, .jpeg, .png, .gif" required onchange="previewImage(this)">
        <button type="submit">Yükle</button>
    </form>

        <!-- Resim önizleme için boş bir img etiketi -->
    <img id="imagePreview" src="#" alt="Resim önizleme" style="display: none; max-width: 300px; max-height: 300px;">

    <script>
        function previewImage(input) {
            var preview = document.getElementById('imagePreview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function validateForm() {
            // Burada istediğiniz doğrulama mantığını ekleyebilirsiniz.
            // Örneğin, dosyanın tipini kontrol etmek veya boyut sınırlamak.
            return true; // veya false
        }
    </script>

    <a href="show_image?file_name=fgfg.jpeg">resimi goster</a>
</body>
</html>
